# Terraform state
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/        # pasta com plugins e cache local
terraform/.terraform.lock.hcl

# SSH key (NUNCA envie para o Git)
terraform/vet-key.pem

# Outros arquivos indesejados
*.exe
*.log
