# Estado do Terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Diretório de cache do Terraform e plugins baixados
terraform/.terraform/

# Lock file (opcional ignorar, mas alguns preferem versionar)
terraform/.terraform.lock.hcl

# Chave privada
terraform/clinica-key.pem
ansible/clinica-key.pem

# Arquivos indesejados
*.exe
*.log
